<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vikram.travellersguide">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.vikram.travellersguide.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.vikram.travellersguide.Account.login" />
        <activity android:name="com.example.vikram.travellersguide.Account.RegisterActivity" />
        <activity android:name="com.example.vikram.travellersguide.Report" />
        <activity
            android:name="com.example.vikram.travellersguide.CityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.vikram.travellersguide.temp" />
        <activity android:name="com.example.vikram.travellersguide.Cities.Goa" />
        <activity android:name="com.example.vikram.travellersguide.Cities.Jaipur" />
        <activity android:name="com.example.vikram.travellersguide.Cities.Agra" />
        <activity android:name="com.example.vikram.travellersguide.Cities.Manali" />
        <activity android:name="com.example.vikram.travellersguide.Cities.Shimala" />
        <activity android:name="com.example.vikram.travellersguide.Cities.Dehli" />
        <activity android:name="com.example.vikram.travellersguide.Cities.Mumbai" />
        <activity android:name="com.example.vikram.travellersguide.Cities.Mysore" />

        <activity
            android:name="com.example.vikram.travellersguide.Tab_Cities.Agra.Agra_tab"
            android:label="@string/title_activity_agra_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.vikram.travellersguide.Tab_Cities.tabDehli.Dehli_tab"
            android:label="@string/title_activity_dehli_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.vikram.travellersguide.Tab_Cities.tabGoa.Goa_tab"
            android:label="@string/title_activity_goa_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.vikram.travellersguide.Tab_Cities.tabJaipur.Jaipur_tab"
            android:label="@string/title_activity_jaipur_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.vikram.travellersguide.Tab_Cities.tabManali.Manali_tab"
            android:label="@string/title_activity_manali"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.vikram.travellersguide.Tab_Cities.tabMumbai.Mumbai_tab"
            android:label="@string/title_activity_mumbai_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.vikram.travellersguide.Tab_Cities.tabMysore.Mysore_tab"
            android:label="@string/title_activity_mysore_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.vikram.travellersguide.Tab_Cities.tabShimala.Shimala_tab"
            android:label="@string/title_activity_shimala_tab"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>